:root {
    --color-dark-grey: #23272A;
    --color-violet: rgb(126, 145, 208);
    --color-blue: rgb(114,137,218);
    --btn-radius: 1.8rem;
    --spacer: 200px 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 90px 0;
}

header {
    background-color: rgb(49,97,224);
}

h1 {
    font-size: 3.5rem;
    padding-bottom: 2rem;
}

h2 {
    font-size: 3rem;
    padding-bottom: 1rem;
    color: var(--color-dark-grey);
}

h3 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
    color: var(--color-dark-grey);
}

.row .foot h3 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
    color: var(--color-blue);
}

h5 {
    font-size: 1rem;
    padding-bottom: 1rem;
    color: var(--color-blue);
}

h6 {
    font-size: 1rem;
    padding-bottom: 1rem;
    color: white;
}

.testo-head p {
    font-size: 1.2rem;
    padding-bottom: 2rem;
    line-height: 2rem;
}

p {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    line-height: 2rem;
    color: var(--color-dark-grey);
}

.btn {
    border-radius: var(--btn-radius);
    padding: 0.5rem 1rem;
    border: none;
    font-weight: bold;
}

.btn.white {
    background-color: white;
    color: var(--color-dark-grey);
  }
  
.btn.black {
    background-color: var(--color-dark-grey);
    color: white;
  }
  
.btn.violet {
    background-color: var(--color-violet);
    color: white;
}

.btn.blue {
    background-color: rgb(142,161,225);
    color: white;
}

/*SETUP NAVBAR*/

.nav section .container-head {
    width: 920px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
}

.container {
    width: 920px;
    margin: 0 auto;
    padding: 20px;
}

.head-big ul li {
    display: inline-block;
}

.white a {
    padding: .7rem;
    list-style: none;
    color: var(--color-dark-grey);
    text-decoration: none;
}

.black a {
    padding: .7rem;
    list-style: none;
    color: white;
    text-decoration: none;
}

ul li a,
.foot a {
    padding: .7rem;
    list-style: none;
    color: white;
    text-decoration: none;
}

.nav section {
    padding: 10px 0;
}

.head-big {
    flex-basis: 50%;
    padding: 6px 0 0 0;
}

.head-small {
    flex-basis: 25%;
}

.end {
    text-align: end;
}

.sector1 {
    padding: 100px 0 150px 0;
}

.img {
    background-image: url("img/jumbo.png");
    background-size: cover;
}

.testo-head {
    text-align: center;
    color: white;
}

.last {
    padding-bottom: 0px;
    border-bottom: 1px solid var(--color-blue);
}

.container-special {
    width: 920px;
    margin: 0 auto;
}

.black>.container-lightteal {
    width: 920px;
    margin: 10px auto;
    display: flex;
    background-color: rgb(127, 255, 212);
    justify-content: space-between;
}

.row {
    display: flex;
    text-align: center;
    color: white;
}

.container .column {
    flex-direction: column-reverse;
}

.reverse {
    flex-direction: row-reverse;
}

.col {
    padding: 20px 0;
    flex-grow: 1;
}

.col-2 {
    flex-basis: 55%;
}

.centered {
    text-align: center;
    padding-bottom: 90px;
}

.centered h3 {
    padding-top: 0;
}

.inline {
    display: inline-block;
}

.footer-cont {
    margin: 10px 0;
    background-color: rgb(255, 182, 193);
}

.foot {
    display: flex;
    flex-direction: column;
}

.container-special .row .small {
    flex-basis: 16.5%;
}

.big {
    flex-basis: 34%;
}

.space {
    padding: var(--spacer);
}

/*COLORS*/
.black {
    color: black;
}

.btn.white {
    color: white;
}

.darkgrey {
    background-color: var(--color-dark-grey)
}