:root {
    --color-dark-grey: #23272A;
    --color-violet: rgb(126, 145, 208);
    --btn-radius: 1.8rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containeracaso {
    background-image: url("img/jumbo.png");
    background-size: cover;
}

section {
    padding: 40px 0;
}

.btn {
    border-radius: var(--btn-radius);
    padding: 0.5rem 1rem;
    border: none;
    font-weight: bold;
}

.btn.white {
    background-color: white;
    color: var(--color-dark-grey);
  }
  
.btn.black {
    background-color: var(--color-dark-grey);
    color: white;
  }
  
.btn.violet {
    background-color: var(--color-violet);
    color: white;
}

/*SETUP NAVBAR*/

.nav section .container-head {
    width: 920px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
}

.container {
    width: 920px;
    margin: 0 auto;
    padding: 20px;
}

.head-big ul li {
    display: inline-block;
}

.head-big ul li a {
    padding: .6rem;
    list-style: none;
    color: black;
    text-decoration: none;
}

.nav section {
    padding: 10px 0;
}

.head-big {
    flex-basis: 50%;
    text-align: center;
}

.head-small {
    flex-basis: 25%;
}

.end {
    text-align: end;
}


.container-special {
    width: 920px;
    margin: 0 auto;
}

.black>.container-lightteal {
    width: 920px;
    margin: 10px auto;
    display: flex;
    background-color: rgb(127, 255, 212);
    justify-content: space-between;
}

.last.black {
    padding: 5px 0 15px 0;
}



.row {
    display: flex;
    border: 1px solid green;
}

.reverse {
    flex-direction: row-reverse;
}

.col {
    padding: 20px;
    flex-grow: 1;
}

.col-2 {
    flex-basis: 65%;
}

.footer-cont {
    margin: 10px 0;
    background-color: rgb(255, 182, 193);
}

.small {
    background-color: rgb(32, 178, 170);
    border: 1px solid white;
}

.big {
    flex-basis: 25%;
    background-color: rgb(240, 128, 128);
    padding: 200px 0;
}

/*COLORS*/
.grey {
    background-color: rgb(211, 211, 211);
}

.purple {
    padding: 200px 0;
}

.green {
    background-color: rgb(34, 139, 34);
    padding: 300px 0;
}

.pink {
    padding: 200px 0;
}

.black {
    background-color: rgb(35, 39, 42);
}